<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZJmkQB7pzbWzJ91VRzobsDlBwhj4zZ9A</string>
	<key>GCM_SENDER_ID</key>
	<string>587539154523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.propertyChecker</string>
	<key>PROJECT_ID</key>
	<string>property-tracker-94c49</string>
	<key>STORAGE_BUCKET</key>
	<string>property-tracker-94c49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587539154523:ios:13aee4e55a1538832d617e</string>
</dict>
</plist>